<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    {{#if this.currentSession.canAccessSubsidies}}
      <li class="au-c-list-navigation__item">
        <AuNavigationLink @route="subsidy.applications.index">
          <AuIcon @icon="documents" @alignment="left" />
          Subsidiebeheer
        </AuNavigationLink>
      </li>
    {{/if}}
  </ul>
</nav>