{{#each this.crumbsForRoute as |crumb|}}
  <li class="au-c-list-horizontal__item">
    <AuLink @route={{this.currentRoute}} @active="true" aria-current="page">
      {{crumb.label}}
    </AuLink>
  </li>
{{/each}}
