<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    <main id="content">
      <AuContentHeader @titlePartOne="SubsidiePunt" @titlePartTwo="Agentschap Binnenlands Bestuur">
        <img sizes="50vw" src="/assets/images/header-1600.jpg"
          srcset="/assets/images/header-320.jpg 320w, /assets/images/header-1024.jpg 1024w, /assets/images/header-1600.jpg 1600w"
          alt="Foto van een laptop met daarop het vlaanderen logo." />
      </AuContentHeader>

      <section class="au-o-region-large">
        <div class="au-o-layout">
          <div class="au-o-grid au-o-grid--small">
            <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
              <AuContent @skin="large">
                <h1>SubsidiePunt</h1>
                <h2>Welkom bij SubsidiePunt</h2>
                <p>SubsidiePunt is toegankelijk voor zowel <span class="au-u-bold">Lokale Besturen</span> als
                  <span class="au-u-bold">Organisaties met een KBO-nummer</span>. Via deze applicatie kan je
                  subsidies aanvragen die uitgegeven worden door Agentschap
                  Binnenlands Bestuur. Lokale besturen kunnen hier ook de link
                  naar sommige andere subsidies van de Vlaamse overheid vinden.
                </p>

                <h2>Voor Lokale Besturen</h2>

                <p>Controleer via <AuLinkExternal href="https://mijnprofiel-gebruikersbeheer.vlaanderen.be/user/">deze
                    link
                  </AuLinkExternal> tot welke organisaties je toegang hebt. </p>
                <ul>
                  <li><span class="au-u-bold">Toegangsaanvraag:</span> Vraag jouw rechten aan via <AuLinkExternal
                      href="https://zelfregistratie-gebruikersbeheer.vlaanderen.be/user/aanvraag?&an=999&dg=LB&ec=ABB_Subsidiepunt_LB_CompEnt_Gebruiker">
                      zelfregistratie</AuLinkExternal>
                  </li>
                  <li><span class="au-u-bold">Behandeling:</span> Jouw lokale beheerder zal de aanvraag behandelen.</li>
                  <li><span class="au-u-bold">Toegang via Loket voor Lokale Besturen:</span> Enkel indien je tot één of
                    meerdere ‘contexten’ van het Loket voor Lokale Besturen toegang hebt, kan je de subsidiemodule
                    gebruiken rechtstreeks via het loket. Wij werken aan een oplossing zodat elke medewerker van een
                    lokaal bestuur steeds toegang heeft tot deze module rechtstreeks via het loket. </li>
                </ul>

                <h2>Voor Organisaties met een KBO-nummer</h2>
                <p><span class="au-u-bold">Wettelijke Vertegenwoordigers</span> (van een organisatie met een KBO-nummer)
                  hebben automatisch toegang tot SubsidiePunt. Om medewerkers toegang te geven, volg je onderstaande
                  stappen:</p>

                <ol>
                  <li><span class="au-u-bold">Aanmelden:</span> De wettelijke vertegenwoordiger meldt zich aan bij
                    <AuLinkExternal href="https://gebruikersbeheer.vlaanderen.be/">Gebruikersbeheer Vlaanderen
                    </AuLinkExternal> en kiest voor welke organisatie rechten toegekend moeten worden.</li>
                  <li><span class="au-u-bold">Werkrelatie toevoegen:</span> Voeg de werkrelatie van de medewerker toe.
                    Hiervoor heb je de volgende gegevens nodig:</li>
                  <ul>
                    <li>Rijksregisternummer</li>
                    <li>E-mailadres</li>
                    <li>Telefoonnummer</li>
                  </ul>
                  <li><span class="au-u-bold">Rechten koppelen:</span> Koppel de juiste rechten aan de medewerker door
                    te kiezen voor <span class="au-u-bold">'ABB SubsidiePunt'</span>.</li>
                </ol>

                <p>Het recht is onmiddellijk toegekend en actief. De medewerker heeft nu ook toegang tot SubsidiePunt.
                </p>
                <p>Een helder stappenplan kan je hier terug vinden: <AuLinkExternal
                    href="https://assets.vlaanderen.be/image/upload/v1673882644/Handleiding_Gebruikersbeheer_Vlaamse_Overheid_MOPRO_xqkhpx.pdf">
                    handleiding gebruikersbeheer</AuLinkExternal>
                </p>




                <h2>Problemen met aanmelden?</h2>
                <ul>
                  <li>Contacteer <a href="mailto:LoketLokaalBestuur@vlaanderen.be"
                      class="au-c-link">LoketLokaalBestuur@vlaanderen.be</a></li>
                  <li>Bij verdere problemen kan je terecht bij de helpdesk van <AuLinkExternal
                      href="https://www.vlaanderen.be/aanmelden/help/mail.html?Authenticatiemiddel=token&Bronpagina=aanmelden&Doelgroep=organisatie%20vzw&Applicatie=Test">
                      Gebruikersbeheer Vlaanderen</AuLinkExternal>.</li>
                </ul>
              </AuContent>
            </div>
            <div class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium">
              <LoginButton />
            </div>
          </div>
        </div>
      </section>
      <section class="au-o-region-large au-u-background-gray-200">
        <div class="au-o-layout">
          <AuContent @skin="large" class="au-u-margin-bottom">
            <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">De
              functionaliteiten van SubsidiePunt</AuHeading>
          </AuContent>
          <div class="au-o-grid au-o-grid--small">
            <div class="au-o-grid__item au-u-1-2@small">
              <AuCard @textCenter="true" as |c|>
                <c.header @badgeSkin="brand" @badgeIcon="pencil">
                  <AuHeading @level="3" @skin="4">
                    Functionaliteit
                  </AuHeading>
                </c.header>
                <c.content>
                  <AuList @direction="vertical" @divider={{true}} as |Item|>
                    <Item>
                      Bekijken van subsidies
                    </Item>
                    <Item>
                      Indienen van subsidies
                    </Item>
                    <Item>
                      Opvolgen van subsidie aanvragen
                    </Item>
                  </AuList>
                </c.content>
                <c.footer />
              </AuCard>
            </div>
          </div>
        </div>
      </section>
    </main>

    <AuMainFooter>
      <FooterHeading />
      <AuContent @skin="small">
        <p>Uitgegeven door
          <a class="au-c-link"
            href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap
            Binnenlands Bestuur</a>
        </p>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheid</AuLink>
          </li>
        </ul>
      </AuContent>
    </AuMainFooter>
  </div>
</div>